Source: atemd
Section: utils
Priority: optional
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Vcs-Browser: https://github.com/dimitry-ishenko-cpp/atemd
Vcs-Git: https://github.com/dimitry-ishenko-cpp/atemd.git
Rules-Requires-Root: no

Package: atemd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: atemd
